[defaults]
inventory = inventories/homelab/
hash_behaviour = merge
# roles path
roles_path = roles/
collections_path = collections/
log_path = log/ansible.log
# no cowsay
nocows = 1
host_key_checking = False
pipelining = True

# Fact caching
gathering = smart
fact_caching = jsonfile
fact_caching_connection = cache
fact_caching_timeout = 1800

[ssh_connection]
ssh_args = -o ControlPersist=10m

[diff]
always = True
